[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/strata"]
	path = themes/strata
	url = https://github.com/digitalcraftsman/hugo-strata-theme.git
